/* Style by @melchoyce */

.publish-ux-button {
	min-height: 108px;
}

.splitbutton-wrap {
	display: block;
	background: #eee;
	font-size: 1em;
	font-family: sans-serif;
	text-transform: uppercase;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 1em;
}

.splitbutton-processed {
	display: none;
}

.splitbutton-button {
	background: #eee;
	padding: 10px 20px;
	width: 188px;
	width: calc( 100% - 50px - 1px - 40px );
	color: #666;
	display: inline-block;
	cursor: pointer;
}

.splitbutton-dropdown {
	position: relative;
	background: #ddd;
	padding: 20px;
	height: 20px;
	width: 10px;
	text-align: center;
	color: #999;
	border-left: 1px solid #ccc;
	display: inline-block;
}

.splitbutton-dropdown ul {
	display: none;
	position: absolute;
	top: 100%;
	right: -1px;
	background: #aaa;
	border: 1px solid #999;
	border-radius: 0 0 3px 3px;
	color: white;
	font-size: .8em;
	line-height: 1.4;
	margin: 0;
	padding: 10px;
	text-align: left;
}

.splitbutton-dropdown:hover ul {
	display: block;
}

.splitbutton-dropdown ul li {
	list-style-type: none;
	cursor: pointer;
	padding: 5px 20px 5px 0;
	border-bottom: 1px solid #999;
}

.splitbutton-dropdown ul li:first-child {
	padding-top: 0;
}

.splitbutton-dropdown ul li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.splitbutton-dropdown ul li:hover {
	color: #eee;
}
